
/* SECTION */
.section{
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section h1{
    color: var(--Blanco, #D9D9D9);
        font-family: Epilogue;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
}

/* GENERAL CONTAINER */
.services_container{
    margin-top: 3rem;
    margin-bottom: 6rem;
    display: grid;
    grid-template-columns: repeat(2, 35em);
    gap: 1.8rem;
}


/* CARD */
.service{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color:  #D9D9D9;
    padding: 1.2rem 1.2rem;
    /* align-items: center; */
    justify-content: center;
}

/* NUMBER */
.number{
    color: #232323;
}

/* TITLE */
.title{
    display: flex;
    font-size: 1.2rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
    color: #232323;
}

/* PARAGRAPH */
.paragraph{
    text-align: justify;
    padding: 0 1rem;
    color: #232323;
}

/* VECTOR */
.vector{
    width: 1.1rem;
        height: 1.1rem;
}