html {
    margin: 0;
    padding: 0;
    background-image: url("./images/background_site.svg");
        max-width: 100%;
        height: 100vh;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
}
