.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #E9E9E9;
    font-family: Epilogue;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 105.5%;
    /* 52.75px */
    letter-spacing: 0.025px;
    margin-top: 5rem;
}

.subtitle {
    color: #E9E9E9;
    font-family: Epilogue;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 105.5%;
    /* 21.1px */
    letter-spacing: 0.01px;
    margin-top: 0;
}

.text {
    color: #E9E9E9;
    text-align: justify;
    font-family: Epilogue;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 300;
    line-height: 105.5%;
    /* 18.99px */
    letter-spacing: 0.009px;
    width: 80%;
}

.techs_span {
    color: #E9E9E9;
    font-family: Epilogue;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 105.5%;
    /* 21.1px */
    letter-spacing: 0.01px;
    margin: 2rem 0;
}

.techs_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
}

.tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.tech_span {
    color: #E9E9E9;
    text-align: justify;
    font-family: Sora;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.3px;
}

.images_container {
    display: flex;
    flex-direction: column;
}

.arvako1 {
    width: 80vw;
    margin-top: 5rem;
}

.button {
    border-radius: 20px;
    border: 2px solid #E9E9E9;
    background-color: transparent;
    margin: 6rem 0;
    padding: 0.8rem 1.5rem;
    box-shadow: 0px -5px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 1.2rem;
}

.button a{
    color: #E9E9E9;
    text-decoration: none;
}

/* PROJECTS */



.mightlike_title {
    color: #E9E9E9;
    font-family: Epilogue;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 105.5%;
    /* 25.32px */
    letter-spacing: 0.012px;
    margin: 5rem 0 3rem 0;
}

.mightlike_projects {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
    margin-left: 3rem;
    margin-bottom: 8rem;
}

.mightlike_projects::-webkit-scrollbar {
    width: 0;
}

.project {
    position: relative;
}

/* OVERLAY */

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(35, 35, 35, 0.71);
    transition: 0.3s;
}

.overlay h2 {
    color: #E5E5E5;
    font-family: Sora;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.overlay span {
    color: #E5E5E5;
    font-family: Sora;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.overlay button {
    border-radius: 20px;
    border: 2px solid #E9E9E9;
    background-color: transparent;
    color: #E9E9E9;
    margin-top: 1rem;
    padding: 0.3rem 0.8rem;
    box-shadow: 0px -5px 4px 0px rgba(0, 0, 0, 0.25);
}

.overlay .button_tag {
    text-decoration: none;
    color: #E9E9E9
}

.overlay:hover {
    opacity: 1;
}

.proto_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.proto {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 80vw;
    height: 100vh;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.title2 {
    color: #E9E9E9;
    font-family: Epilogue;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 105.5%;
    /* 52.75px */
    letter-spacing: 0.025px;
    margin-top: 5rem;
}